body {
    background-color: #f9efe7;
}

* {
    font-family: 'Source Sans Pro', serif;
}

.naviBar {
    background-color: #dcbb8e;
    font-weight: bold;
}

.text-section {
    padding: 16px;
}

.picture-section {
    padding: 16px;
}

.custom-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #eae0d6;
}

.article-image {
    max-width: 400px;
    transform: rotate(9deg);
}

.heading {
    padding-top: 45px;
    padding-bottom: 40px;
}